.mini-player-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;

  .mini-player-img {
    width: 32px;
    height: 32px;
    margin-right: 6px;
    border-radius: 50%;
  }

  .mini-player-name {
    margin-right: 6px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mini-player-status-icon {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }

  .mini-player-more-icon {
    width: 30px;
    height: 30px;
  }
}
